/**
 * Theme Name: notam03 v106
 * Theme URI: http://notam02.no 
 * Author: Mads Kjeldgaard /
 * Notam Author URI: http://notam02.no 
 * Description: A theme for the website of
 * Notam Version: 1.0.6 License: GNU General Public License v2 or later License
 * URI: LICENSE Text Domain: notam03 
 * Tags: custom-background, custom-logo,
 * custom-menu, featured-images, threaded-comments, translation-ready
 *
 * This theme, like WordPress, is licensed under the GPL. Use it to make
 * something cool, have fun, and share what you've learned with others.
 *
 * notam03 is based on Underscores https://underscores.me/, (C) 2012-2017
 * Automattic, Inc. Underscores is distributed under the terms of the GNU GPL v2
 * or later.
 *
 * Normalizing styles have been helped along thanks to the fine work of Nicolas
 * Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
 */

@import url(https://fonts.googleapis.com/css?family=Roboto);.hamburger{padding:15px 0;display:inline-block;cursor:pointer;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,-webkit-filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:linear;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}.hamburger:hover{opacity:.7}.hamburger.is-active:hover{opacity:.7}.hamburger.is-active .hamburger-inner,.hamburger.is-active .hamburger-inner::after,.hamburger.is-active .hamburger-inner::before{background-color:#333}.hamburger-box{width:40px;height:24px;display:inline-block;position:relative}.hamburger-inner{display:block;top:50%;margin-top:-2px}.hamburger-inner,.hamburger-inner::after,.hamburger-inner::before{width:40px;height:4px;background-color:#333;border-radius:4px;position:absolute;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease;transition-timing-function:ease}.hamburger-inner::after,.hamburger-inner::before{content:"";display:block}.hamburger-inner::before{top:-10px}.hamburger-inner::after{bottom:-10px}.hamburger--3dy .hamburger-box{-webkit-perspective:80px;perspective:80px}.hamburger--3dy .hamburger-inner{-webkit-transition:background-color 0s .1s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);transition:background-color 0s .1s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);transition:transform .15s cubic-bezier(.645,.045,.355,1),background-color 0s .1s cubic-bezier(.645,.045,.355,1);transition:transform .15s cubic-bezier(.645,.045,.355,1),background-color 0s .1s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1)}.hamburger--3dy .hamburger-inner::after,.hamburger--3dy .hamburger-inner::before{-webkit-transition:-webkit-transform 0s .1s cubic-bezier(.645,.045,.355,1);transition:-webkit-transform 0s .1s cubic-bezier(.645,.045,.355,1);transition:transform 0s .1s cubic-bezier(.645,.045,.355,1);transition:transform 0s .1s cubic-bezier(.645,.045,.355,1),-webkit-transform 0s .1s cubic-bezier(.645,.045,.355,1)}.hamburger--3dy.is-active .hamburger-inner{background-color:transparent!important;-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}.hamburger--3dy.is-active .hamburger-inner::before{-webkit-transform:translate3d(0,10px,0) rotate(45deg);transform:translate3d(0,10px,0) rotate(45deg)}.hamburger--3dy.is-active .hamburger-inner::after{-webkit-transform:translate3d(0,-10px,0) rotate(-45deg);transform:translate3d(0,-10px,0) rotate(-45deg)}.heartbeat-hover:focus,.heartbeat-hover:hover{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}.wobble-hor-bottom:focus,.wobble-hor-bottom:hover{-webkit-animation:wobble-hor-bottom .8s both;animation:wobble-hor-bottom .8s both}.shadow-drop-and-scale-up:focus,.shadow-drop-and-scale-up:hover{-webkit-animation:shadow-drop-2-center .3s cubic-bezier(.25,.46,.45,.94) .1s both,scale-up-center .3s cubic-bezier(.39,.575,.565,1) both;animation:shadow-drop-2-center .3s cubic-bezier(.25,.46,.45,.94) .1s both,scale-up-center .3s cubic-bezier(.39,.575,.565,1) both}.shadow-drop-2-center:focus,.shadow-drop-2-center:hover{-webkit-animation:shadow-drop-2-center .3s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-drop-2-center .3s cubic-bezier(.25,.46,.45,.94) both}.scale-up-center:focus,.scale-up-center:hover{-webkit-animation:scale-up-center .3s cubic-bezier(.39,.575,.565,1) both;animation:scale-up-center .3s cubic-bezier(.39,.575,.565,1) both}.shadow-inset-lr:focus,.shadow-inset-lr:hover{-webkit-animation:shadow-inset-lr .3s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-inset-lr .3s cubic-bezier(.25,.46,.45,.94) both}.tracking-in-expand{-webkit-animation:tracking-in-expand .9s cubic-bezier(.215,.61,.355,1) both;animation:tracking-in-expand .9s cubic-bezier(.215,.61,.355,1) both}.shadow-drop-center:focus,.shadow-drop-center:hover{-webkit-animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both}@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@-webkit-keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@-webkit-keyframes shadow-drop-bottom{0%{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:0 12px 20px -12px rgba(0,0,0,.35);box-shadow:0 12px 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-bottom{0%{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:0 12px 20px -12px rgba(0,0,0,.35);box-shadow:0 12px 20px -12px rgba(0,0,0,.35)}}@-webkit-keyframes shadow-pop-bl{0%{-webkit-box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}100%{-webkit-box-shadow:-1px 1px #3e3e3e,-2px 2px #3e3e3e,-3px 3px #3e3e3e,-4px 4px #3e3e3e,-5px 5px #3e3e3e,-6px 6px #3e3e3e,-7px 7px #3e3e3e,-8px 8px #3e3e3e;box-shadow:-1px 1px #3e3e3e,-2px 2px #3e3e3e,-3px 3px #3e3e3e,-4px 4px #3e3e3e,-5px 5px #3e3e3e,-6px 6px #3e3e3e,-7px 7px #3e3e3e,-8px 8px #3e3e3e;-webkit-transform:translateX(8px) translateY(-8px);transform:translateX(8px) translateY(-8px)}}@keyframes shadow-pop-bl{0%{-webkit-box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}100%{-webkit-box-shadow:-1px 1px #3e3e3e,-2px 2px #3e3e3e,-3px 3px #3e3e3e,-4px 4px #3e3e3e,-5px 5px #3e3e3e,-6px 6px #3e3e3e,-7px 7px #3e3e3e,-8px 8px #3e3e3e;box-shadow:-1px 1px #3e3e3e,-2px 2px #3e3e3e,-3px 3px #3e3e3e,-4px 4px #3e3e3e,-5px 5px #3e3e3e,-6px 6px #3e3e3e,-7px 7px #3e3e3e,-8px 8px #3e3e3e;-webkit-transform:translateX(8px) translateY(-8px);transform:translateX(8px) translateY(-8px)}}@-webkit-keyframes shadow-pop-tl{0%{-webkit-box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}100%{-webkit-box-shadow:-1px -1px #3e3e3e,-2px -2px #3e3e3e,-3px -3px #3e3e3e,-4px -4px #3e3e3e,-5px -5px #3e3e3e,-6px -6px #3e3e3e,-7px -7px #3e3e3e,-8px -8px #3e3e3e;box-shadow:-1px -1px #3e3e3e,-2px -2px #3e3e3e,-3px -3px #3e3e3e,-4px -4px #3e3e3e,-5px -5px #3e3e3e,-6px -6px #3e3e3e,-7px -7px #3e3e3e,-8px -8px #3e3e3e;-webkit-transform:translateX(8px) translateY(8px);transform:translateX(8px) translateY(8px)}}@keyframes shadow-pop-tl{0%{-webkit-box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}100%{-webkit-box-shadow:-1px -1px #3e3e3e,-2px -2px #3e3e3e,-3px -3px #3e3e3e,-4px -4px #3e3e3e,-5px -5px #3e3e3e,-6px -6px #3e3e3e,-7px -7px #3e3e3e,-8px -8px #3e3e3e;box-shadow:-1px -1px #3e3e3e,-2px -2px #3e3e3e,-3px -3px #3e3e3e,-4px -4px #3e3e3e,-5px -5px #3e3e3e,-6px -6px #3e3e3e,-7px -7px #3e3e3e,-8px -8px #3e3e3e;-webkit-transform:translateX(8px) translateY(8px);transform:translateX(8px) translateY(8px)}}@-webkit-keyframes shadow-inset-lr{0%{-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0);box-shadow:inset 0 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:inset -6px 0 14px -6px rgba(0,0,0,.5),inset 6px 0 14px -6px rgba(0,0,0,.5);box-shadow:inset -6px 0 14px -6px rgba(0,0,0,.5),inset 6px 0 14px -6px rgba(0,0,0,.5)}}@keyframes shadow-inset-lr{0%{-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0);box-shadow:inset 0 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:inset -6px 0 14px -6px rgba(0,0,0,.5),inset 6px 0 14px -6px rgba(0,0,0,.5);box-shadow:inset -6px 0 14px -6px rgba(0,0,0,.5),inset 6px 0 14px -6px rgba(0,0,0,.5)}}@-webkit-keyframes shadow-drop-2-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@keyframes shadow-drop-2-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(1.05);transform:scale(1.05)}}@keyframes scale-up-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(1.05);transform:scale(1.05)}}@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}a{color:#2f00db;text-decoration:none}#no-decoration{text-decoration:none;color:#2f00db}#no-decoration:after,#no-decoration:before{height:0}#no-decoration-dark{text-decoration:none;color:#333}#no-decoration-dark:after,#no-decoration-dark:before{height:0}#no-decoration-black{text-decoration:none;color:#111}#no-decoration-black:after,#no-decoration-black:before{height:0}.menu-grid a,.site-branding a,footer a{color:#111;text-decoration:none;opacity:.9;-webkit-transition:color 150ms ease-out 0s,opacity 150ms ease-out 0s;transition:color 150ms ease-out 0s,opacity 150ms ease-out 0s}.menu-grid a:focus,.menu-grid a:hover,.site-branding a:focus,.site-branding a:hover,footer a:focus,footer a:hover{color:#2f00db;opacity:1}div.menugrid-branding.site-branding:focus,div.menugrid-branding.site-branding:hover{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}.current_page_item a{font-weight:700;color:#2f00db}.animated-link,.entry-content a{position:relative;color:#2f00db;font-weight:400;text-decoration:none;background-repeat:no-repeat;background-position:left 0 bottom .1em;-webkit-transition:color 150ms ease-out;transition:color 150ms ease-out}.animated-link:after,.animated-link:before,.entry-content a:after,.entry-content a:before{content:"";position:absolute;right:0;bottom:2px;left:0;height:2px;background-color:#2f00db}.animated-link:before,.entry-content a:before{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px);-webkit-transition:opacity 0s,-webkit-transform 0s cubic-bezier(.175,.885,.32,1.275);transition:opacity 0s,-webkit-transform 0s cubic-bezier(.175,.885,.32,1.275);transition:transform 0s cubic-bezier(.175,.885,.32,1.275),opacity 0s;transition:transform 0s cubic-bezier(.175,.885,.32,1.275),opacity 0s,-webkit-transform 0s cubic-bezier(.175,.885,.32,1.275)}.animated-link:after,.entry-content a:after{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-transition:opacity 150ms,-webkit-transform 150ms cubic-bezier(.175,.885,.32,1.275);transition:opacity 150ms,-webkit-transform 150ms cubic-bezier(.175,.885,.32,1.275);transition:transform 150ms cubic-bezier(.175,.885,.32,1.275),opacity 150ms;transition:transform 150ms cubic-bezier(.175,.885,.32,1.275),opacity 150ms,-webkit-transform 150ms cubic-bezier(.175,.885,.32,1.275)}.animated-link:focus:after,.animated-link:focus:before,.animated-link:hover:after,.animated-link:hover:before,.entry-content a:focus:after,.entry-content a:focus:before,.entry-content a:hover:after,.entry-content a:hover:before{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}.animated-link:focus:before,.animated-link:hover:before,.entry-content a:focus:before,.entry-content a:hover:before{-webkit-transition:opacity 150ms,-webkit-transform 150ms cubic-bezier(.175,.885,.32,1.275);transition:opacity 150ms,-webkit-transform 150ms cubic-bezier(.175,.885,.32,1.275);transition:transform 150ms cubic-bezier(.175,.885,.32,1.275),opacity 150ms;transition:transform 150ms cubic-bezier(.175,.885,.32,1.275),opacity 150ms,-webkit-transform 150ms cubic-bezier(.175,.885,.32,1.275)}.animated-link:focus:after,.animated-link:hover:after,.entry-content a:focus:after,.entry-content a:hover:after{-webkit-transition:opacity 0s 150ms,-webkit-transform 0s 150ms cubic-bezier(.175,.885,.32,1.275);transition:opacity 0s 150ms,-webkit-transform 0s 150ms cubic-bezier(.175,.885,.32,1.275);transition:transform 0s 150ms cubic-bezier(.175,.885,.32,1.275),opacity 0s 150ms;transition:transform 0s 150ms cubic-bezier(.175,.885,.32,1.275),opacity 0s 150ms,-webkit-transform 0s 150ms cubic-bezier(.175,.885,.32,1.275)}a.animated-link{opacity:.9;-webkit-transition:opacity 75ms ease-in-out;transition:opacity 75ms ease-in-out}a.animated-link:focus,a.animated-link:hover{opacity:1}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body,button,input,optgroup,select,textarea{padding:1em .8em .5em;font-family:Roboto,sans-serif;line-height:1.375em;letter-spacing:.018em}h1,h2,h3,h4,h5,h6{margin:0;font-weight:400}h1{font-size:3em;line-height:1.05em}h2{font-size:2.25em;line-height:1.25em}h3{font-size:1.75em;line-height:1.25em}h4{font-size:1.125em;line-height:1.222222em}p{font-family:Roboto,sans-serif;margin-bottom:1.5em}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{max-width:100%;margin-bottom:1.6em;padding:1.6em;overflow:auto;background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;white-space:pre-wrap}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:1em;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}big{font-size:125%}.entry-content p:first-of-type{font-weight:400;font-size:1em}.entry-meta,.entry-title{color:#111;text-align:left}.archive .prosjekt-meta{padding:.5em .5em}.overview-title{padding:0;font-size:1.618em}.entry-meta{font-size:1em;margin-bottom:0}.thumbnail-caption{padding:1em 0;color:#545454;font-size:.61805em;line-height:1.5}@media screen and (min-width:1026px){.thumbnail-caption{padding:1em 0}}#main-navigation{letter-spacing:.018em;font-size:1em}.site-branding a{font-size:1em}.main-navigation a:hover,.site-branding a:hover{color:#2f00db}#site-navigation li a{text-align:left}@media screen and (min-width:1026px){#site-navigation,.site-branding a{text-align:inherit}#sub-navigation{color:#545454;text-transform:uppercase;font-size:.75em}}.lang_selector a{font-size:.75em}.smalltext{line-height:1.375em}.meta-text-size,.site-footer,.smalltext{color:#545454;font-size:.75em}@media screen and (min-width:1026px){.site-footer{font-size:.75em;line-height:1.5em}}.dps-title,.overview-header{color:#333}@media screen and (min-width:1026px){.overview-header-square-layout{text-align:center}}.overview-header-broad-layout{text-align:left}.dps-title#no-decoration{color:#111}.dps-title{margin:0 0}.dps-post-date{margin:0 0;color:#333}.dps-content{color:#333;margin:.25em 0 2em 0}.dps-list-layout-title a{font-weight:700}.dps-list-item{margin:.25em 0}.dps-entry-content-square{width:100%}.dps-squares-title{width:100%;word-break:break-word;text-align:center;font-weight:700;color:#333}.responsive-menu-subarrow,.responsive-menu-subarrow-active{display:none}#responsive-menu{font-weight:400}.current_page_item a{font-weight:700}.responsive-menu-submenu a{font-weight:400;text-transform:none}.site-branding{position:fixed;left:5%;top:15px}.mobilemenu{display:none}@media screen and (max-width:1026px){.mobilemenu{display:block}#desktop-main-menu{display:none}}.main-navigation.toggled ul,.menu-toggle{display:block;margin:0}#header-search{margin:1em 1em}@media screen and (min-width:1026px){.custom-logo{max-width:100%}}#sub-navigation{position:relative;width:100%;display:block}.small-menu{display:block;width:200%}.main-navigation ul{display:none;margin:0;padding-left:0;list-style:none}.main-navigation ul ul{z-index:99999;position:absolute;top:100%;left:-999em;float:left;-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2);box-shadow:0 3px 3px rgba(0,0,0,.2)}.main-navigation ul ul ul{top:0;left:-999em}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{left:100%}.main-navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation li,.site-branding a{display:block;margin:1em}@media screen and (min-width:1026px){.main-navigation li,.site-branding a{display:block;float:left}}.main-navigation a{display:block;text-decoration:none}.lang_selector{z-index:100;position:absolute;top:1.05em;right:3em;text-transform:uppercase}.lang_selector li{display:inline;margin-right:1em}.lang_selector:hover .inactive{display:inline}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{width:50%;float:left}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{width:50%;float:right;text-align:right}.menu-grid{display:grid;grid-template-columns:repeat(1,1fr);grid-template-areas:"search" "mainmenu"}.menugrid-main{grid-area:mainmenu}.menugrid-branding{display:none;grid-area:brand;place-self:center}.menugrid-search{display:none;grid-area:search;place-self:center}@media screen and (min-width:1026px){.menu-grid{display:grid;grid-column-gap:0;grid-row-gap:0;grid-template-columns:repeat(5,1fr);grid-template-rows:auto;grid-template-areas:"brand mainmenu mainmenu mainmenu mainmenu"}button.hamburger{display:none}.main-navigation ul{display:block;padding:0}.menugrid-sub{display:grid;grid-column-gap:0;grid-row-gap:0;grid-template-columns:auto;grid-template-rows:auto;justify-items:end}.menugrid-main{place-self:center}.menugrid-branding{display:block}.menugrid-search{display:block}}.page-grid-full,.page-grid-left,.page-grid-slim,.page-grid-wide{display:grid;grid-template-rows:auto;grid-template-areas:"ehd" "thumbcap" "thumb" "pct" "eft" "ecmt"}.thumbnail-caption-grid-container{display:grid;grid-area:thumbcap;grid-template-columns:auto;grid-template-areas:"th" "thcapt"}.thumbnail-no-caption-grid-container{display:grid;grid-area:thumb;grid-template-columns:1fr;grid-template-areas:"th"}.page-content-item{grid-area:pct}.thumbnail-image-item{grid-area:th}.thumbnail-caption-item{grid-area:thcapt}@media screen and (min-width:1026px){.page-grid-default{display:grid;grid-template-rows:auto;grid-template-columns:repeat(12,1fr);grid-template-areas:". . . ehd ehd ehd ehd ehd ehd . . ." ". . . thumb thumb thumb thumb thumb thumb . . . " ". . . thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap . . . " ". . . pct pct pct pct pct pct . . . "}.page-grid-wide-image{display:grid;grid-template-rows:auto;grid-template-columns:repeat(12,1fr);grid-template-areas:". . . ehd ehd ehd ehd ehd ehd . . ." ". . thumb thumb thumb thumb thumb thumb thumb thumb . . " ". . thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap . . . " ". . . pct pct pct pct pct pct . . . "}.page-grid-left{display:grid;grid-template-rows:auto;grid-template-columns:repeat(12,1fr);grid-template-areas:". . ehd ehd ehd ehd ehd ehd ehd ehd . ." ". . thumb thumb thumb thumb thumb thumb thumb thumb . . " ". . thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap . . " ". . pct pct pct pct pct pct . . . . "}.page-grid-full{padding:1em;display:grid;grid-template-rows:auto;grid-template-columns:repeat(1,1fr);grid-template-areas:"ehd" "thumb " "thumbcap" "pct"}.page-grid-wide{display:grid;grid-template-rows:auto;grid-template-columns:repeat(7,1fr);grid-template-areas:". ehd ehd ehd ehd ehd ." ". thumb  thumb thumb thumb thumb ." ". thumbcap thumbcap thumbcap thumbcap thumbcap ." ". pct pct pct pct pct ."}.page-grid-slim{display:grid;grid-template-rows:auto;grid-template-columns:repeat(3,1fr);grid-template-areas:". ehd ." ". thumb . " ". thumbcap . " ". pct . "}.thumbnail-caption-grid-container{grid-template-columns:repeat(1,1fr);grid-template-areas:"th" "thcapt"}}.display-posts-listing-grid-large,.display-posts-listing-grid-list,.display-posts-listing-grid-squares,.entry-content-grid-container{display:grid;grid-template-rows:auto;grid-template-areas:"ehd" "ect" "eft" "ecmt"}@media screen and (min-width:1026px){.entry-content-grid-container{grid-template-columns:repeat(5,1fr);grid-template-areas:". ehd ehd ehd . " ". ect ect ect . " ". eft eft eft ." ". ecmt ecmt ecmt ."}.display-posts-listing-grid-large,.display-posts-listing-grid-squares{grid-template-columns:repeat(1,1fr)}.display-posts-listing-grid-list{grid-template-columns:repeat(1,1fr)}}.entry-header-item{grid-area:ehd}.entry-meta-item{grid-area:em;grid-template-columns:span 1}.entry-content-item{grid-area:ect}.entry-content-footer{grid-area:eft}.entry-comment-item{grid-area:ecmt}.footer-grid{display:grid;grid-row-gap:1em;grid-template-columns:auto;grid-template-rows:auto;grid-template-areas:"fw1" "fw2" "fw3" "fw4" "fw5"}.footer-fw1,.footer-fw2,.footer-fw3,.footer-fw4,.footer-fw5{width:100%}.footer-fw1{grid-area:fw1}.footer-fw2{grid-area:fw2}.footer-fw3{grid-area:fw3}.footer-fw4{grid-area:fw4}.footer-fw5{grid-area:fw5}@media screen and (min-width:1026px){.footer-grid{padding:1em 0 0;border-top:0 #a6a6a6 solid;grid-column-gap:5px;grid-row-gap:5px;grid-template-columns:auto;grid-template-rows:auto;grid-template-areas:"fw1 fw2 fw3 fw4 fw5"}.footer-fw1,.footer-fw2,.footer-fw3,.footer-fw4,.footer-fw5{text-align:center;width:100%;-ms-flex-item-align:top;align-self:top;justify-self:stretch}}.square-layout{display:grid;grid-template-columns:1fr;grid-row-gap:30px}@media screen and (min-width:600px){.square-layout{grid-template-columns:1fr 1fr}}@media screen and (min-width:1026px){.square-layout{grid-template-columns:repeat(3,1fr);grid-column-gap:10px}}.broad-layout{display:grid;grid-template-columns:1fr;grid-row-gap:30px}@media screen and (min-width:600px){.broad-layout{grid-template-columns:1fr}}@media screen and (min-width:1026px){.broad-layout{grid-template-columns:1fr;grid-column-gap:10px}}.side-by-side-layout{display:grid;grid-template-columns:1fr;grid-row-gap:30px}@media screen and (min-width:600px){.side-by-side-layout{grid-template-columns:1fr 1fr}}@media screen and (min-width:1026px){.side-by-side-layout{grid-template-columns:1fr 1fr;grid-column-gap:10px}}.prosjekt-top-grid{display:grid;grid-template-columns:repeat(1,1fr);grid-template-areas:"prdesc" "prdetails" "prthumb" "prbody" "prgallery"}.prosjekt-thumbnail-item{grid-area:prthumb}.prosjekt-detail-item{grid-area:prdetails}.prosjekt-description-item{grid-area:prdesc}.prosjekt-body-item{grid-area:prbody}.prosjekt-gallery-item{grid-area:prgallery}.prosjekt-extra-item{grid-area:prextra}@media screen and (min-width:1026px){.prosjekt-top-grid{grid-template-rows:auto;grid-template-columns:repeat(4,1fr);grid-template-areas:"prdesc prdesc prdesc prdesc" "prdetails prdetails prdetails prdetails" "prthumb prthumb prthumb prthumb" "prbody prbody prbody prbody" "prextra prextra prextra prextra" "prgallery prgallery prgallery prgallery"}}.prosjekt-archive-grid{display:grid;grid-template-columns:repeat(1,1fr)}@media screen and (min-width:1026px){.prosjekt-archive-grid{grid-template-rows:auto;grid-template-columns:repeat(2,1fr);grid-template-areas:"prdesc prdesc" "prthumb prdetails"}}.post-archive-grid{display:grid;grid-template-columns:repeat(1,1fr)}@media screen and (min-width:1026px){.post-archive-grid{grid-template-rows:auto;grid-template-columns:repeat(1,1fr)}}.tribe-events-event-image{margin:0}.single-tribe_events .tribe-events-event-image{margin-bottom:0}.tribe-events-sub-nav{padding:0 0;margin:0 0}.tribe-events-nav-previous{float:left}.tribe-events-nav-next{float:right}.events-calendar-seperator{margin:.5em 0;border-bottom:1px solid #a6a6a6}.tribe-events-loop{margin:2em 0 0 0}.tribe-events-read-more{display:inline-block}.events-calendar-list-export-ical-button{display:none!important}.featured-image-list-single{display:none;max-width:400px}.tribe-events-event-meta:first-child{border:0}.tribe-events-meta-group-details{color:#333;padding:0 0}.events-detail-title{font-weight:700;padding:0 0 1em 0}.single-tribe_events .tribe-events-event-meta{margin:0 0}.events-top-meta{display:none!important}.tribe-events-cal-links{display:none!important}.tribe-events-list-event-description{display:none!important}.calendar-list-view-single-item{padding:.5em 0}.tribe-events-list-event-title a{font-weight:700}.tribe-events-tooltip .tribe-events-event-body{font-size:1.5em;color:#333;padding:1em}.tribe-events-tooltip-event-title{padding:0}.tribe-events-tooltip-event-meta{font-size:1em;padding:0}.tribe-events-tooltip-event-description{font-size:.75em}.events-calendar-day-in-month-grid{line-height:1}.tribe-events-month-event-title{line-height:1}.tribe-events-calendar td a{font-size:1em;word-wrap:break-word}table.wp-block-table tbody tr td img{height:25px;width:auto!important}html{-webkit-text-size-adjust:100%;font-family:sans-serif;line-height:1.15}body{margin:0}@media screen and (min-width:1026px){body{padding:0}}.hidden{display:none}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}abbr[title]{border-bottom:none;text-decoration:none;text-decoration:none}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}sub{bottom:-.25em}sup{top:-.5em}.avatar{display:none}.entry-content img.square-thumb{width:100%;padding:0;max-height:300px;max-width:300px}.overview-thumbnail-title{padding:.5em 0}.entry-content img{padding:.75em 0}.post-thumbnail{padding:1em 0 0 0}img.footer-logo{width:3em;height:2em}img.custom-logo{max-height:3em;max-width:3em}.comment-form-comment>label{display:none}button,input,optgroup,select,textarea{-moz-appearance:none;-webkit-appearance:none;appearance:none;margin:1em;color:inherit;border:none;background:0 0;outline:0;font:inherit;border:1px solid #a6a6a6}button,input{overflow:visible;line-height:normal}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{display:table;-webkit-box-sizing:border-box;box-sizing:border-box;max-width:100%;padding:0;color:inherit;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}body{background:#fff}hr{height:1px;margin-bottom:1.5em;border:0;background-color:#545454}ol,ul{margin:0 0 .25em .25em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}img{max-width:100%;height:auto}figure{margin:1em 0}table{width:100%;margin:0 0 1.5em}footer{padding:0 0}ol.comment-list{margin:0 0 1.5em 0;padding:0}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}.screen-reader-text{position:absolute!important;width:1px;height:1px;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);margin:-1px;padding:0;overflow:hidden;border:0;word-wrap:normal!important}.screen-reader-text:focus{z-index:100000;display:block;top:5px;left:5px;width:auto;height:auto;clip:auto!important;-webkit-clip-path:none;clip-path:none;padding:15px 23px 14px;color:#21759b;border-radius:3px;background-color:#f1f1f1;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);box-shadow:0 0 2px 2px rgba(0,0,0,.6);text-decoration:none;font-size:.875rem;font-size:14px;font-weight:700;line-height:normal}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{display:block;clear:both;margin-right:auto;margin-left:auto}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.clear:after,.comment-content:after,.entry-content:after,.site-content:after,.site-footer:after,.site-header:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.footer-widget{display:inline-block}.sticky{display:block}.hentry{margin:0;padding:0}.updated:not(.published){display:none}@media screen and (min-width:1026px){.content-area{padding:2em 0}}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{margin-top:0;margin-bottom:0;padding:0;border:none}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{max-width:100%;margin-bottom:1.5em}.wp-caption img[class*=wp-image-]{display:block;margin-right:auto;margin-left:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;width:100%;text-align:center;vertical-align:top}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.archival-post{padding:.5em 0}
