/***************************************

            Animations 

***************************************/

$keyframe_dur: 300ms;
$keyframe_delay: 100ms;

// Define the different animation types in variables to make it easier to
// combine them etc.

$shadow_drop: shadow-drop-2-center $keyframe_dur
    cubic-bezier(0.25, 0.46, 0.45, 0.94) $keyframe_delay both;

$scale_up: scale-up-center $keyframe_dur cubic-bezier(0.39, 0.575, 0.565, 1)
    both;

$drop2center: shadow-drop-2-center $keyframe_dur
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

$shadow_inset_lr: shadow-inset-lr $keyframe_dur
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

$tracking_in_text: tracking-in-expand $keyframe_dur * 3
    cubic-bezier(0.215, 0.61, 0.355, 1) both;

$tracking_in_text_contract: tracking-in-contract $keyframe_dur * 2
    cubic-bezier(0.215, 0.61, 0.355, 1) both;

$focus_in_text: text-focus-in $keyframe_dur * 2
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;

/*
 *
 * Animation classes
 *
 *
 */
.heartbeat-hover {
    &:focus,
    &:hover {
        animation: heartbeat 1.5s ease-in-out infinite both;
    }
}
.wobble-hor-bottom {
    &:focus,
    &:hover {
        animation: wobble-hor-bottom 0.8s both;
    }
}

.shadow-drop-and-scale-up {
    &:focus,
    &:hover {
        animation: $shadow_drop, $scale_up;
    }
}

.shadow-drop-2-center {
    &:focus,
    &:hover {
        animation: $drop2center;
    }
}

.scale-up-center {
    &:focus,
    &:hover {
        animation: $scale_up;
    }
}

.shadow-inset-lr {
    &:focus,
    &:hover {
        animation: $shadow_inset_lr;
    }
}

.tracking-in-expand {
    animation: $tracking_in_text;
}

.shadow-drop-center {
    &:focus,
    &:hover {
        animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
    }
}
/*
*
* KEYFRAMES
*
*
*/

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-pop-bl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
            0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e,
            -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e,
            -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        transform: translateX(8px) translateY(-8px);
    }
}
@keyframes shadow-pop-tl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
            0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e,
            -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e,
            -7px -7px #3e3e3e, -8px -8px #3e3e3e;
        transform: translateX(8px) translateY(8px);
    }
}
@keyframes shadow-inset-lr {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0),
            inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, 0.5),
            inset 6px 0 14px -6px rgba(0, 0, 0, 0.5);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

/* ----------------------------------------------
 *  * Generated by Animista on 2019-1-2 18:6:59
 *   * w: http://animista.net, t: @cssanimista
 *    * ---------------------------------------------- */

/**
 *  * ----------------------------------------
 *   * animation wobble-hor-bottom
 *    * ----------------------------------------
 *     */
@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
