/***************************************

  Colours

***************************************/
$white: rgba(255, 255, 255, 1);
$softwhite: $white * 0.7;
$black: rgba(17, 17, 17, 1);
$bgcolor: $white;
$notamblue: rgb(47, 0, 219);
$notamgrey: rgba(3, 3, 3, 0.05);
$textcolor: rgba(51, 51, 51, 1);
$titlecolor: $black;
$subtletextcolor: $bgcolor * 0.33;
$bordercolor: $bgcolor * 0.65;
$hovercolor: $notamblue;
$lightgrey: rgba(255, 255, 255, 0.8);
$grey: $lightgrey * 0.5;
