/***************************************

  Grids

***************************************/
// Menu grid
$mobile_menu_grid: "search" "mainmenu";

$desktop_menu_grid: "brand mainmenu mainmenu mainmenu mainmenu";

$desktop_menu_placement: center;

$menu_grid_columns: repeat(5, 1fr);

// Content grid
$mobile_content_grid: "ehd" "ect" "eft" "ecmt";

$desktop_content_grid: ". ehd ehd ehd . " ". ect ect ect . " ". eft eft eft ."
    ". ecmt ecmt ecmt .";

$desktop_content_grid_columns: repeat(5, 1fr);

//
// Footer grid
$mobile_footer_grid: "fw1" "fw2" "fw3" "fw4" "fw5";

$desktop_footer_grid: "fw1 fw2 fw3 fw4 fw5";

$footer_item_placement: center;

/***************************************/

/* MENU GRIDS */
// Mobile
.menu-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: $mobile_menu_grid;
}

.menugrid-main {
    grid-area: mainmenu;
}

.menugrid-sub {
}

.menugrid-branding {
    display: none;
    grid-area: brand;
    place-self: $desktop_menu_placement;
}

.menugrid-search {
    display: none;
    grid-area: search;
    place-self: $desktop_menu_placement;
}

// Desktop
@media screen and (min-width: 1026px) {
    .menu-grid {
        // background-color: $black;
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-columns: $menu_grid_columns;
        grid-template-rows: auto;
        grid-template-areas: $desktop_menu_grid;
    }

    button.hamburger {
        display: none;
    }

    .main-navigation ul {
        display: block;
        padding: 0;
    }

    .menugrid-sub {
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        // grid-template-areas: $desktop_menu_grid;
        justify-items: end;
    }

    .menugrid-main {
        place-self: $desktop_menu_placement;
    }

    .menugrid-branding {
        display: block;
    }
    .menugrid-search {
        display: block;
    }
}
/* PAGE GRIDS */
$mobile_page_grid: "ehd" "thumbcap" "thumb" "pct" "eft" "ecmt";

// Mobile view
.page-grid-left,
.page-grid-full,
.page-grid-slim,
.page-grid-wide {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: $mobile_page_grid;
}

.thumbnail-caption-grid-container {
    display: grid;
    grid-area: thumbcap;
    grid-template-columns: auto;
    grid-template-areas: "th" "thcapt";
}

.thumbnail-no-caption-grid-container {
    display: grid;
    grid-area: thumb;
    grid-template-columns: 1fr;
    grid-template-areas: "th";
}

// Just the content (after the thumb)
.page-content-item {
    grid-area: pct;
}

.thumbnail-image-item {
    grid-area: th;
}

.thumbnail-caption-item {
    grid-area: thcapt;
}
// Desktop view
@media screen and (min-width: 1026px) {
    .page-grid-default {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". . . ehd ehd ehd ehd ehd ehd . . ."
            ". . . thumb thumb thumb thumb thumb thumb . . . "
            ". . . thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap . . . "
            ". . . pct pct pct pct pct pct . . . ";
    }

    .page-grid-wide-image {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". . . ehd ehd ehd ehd ehd ehd . . ."
            ". . thumb thumb thumb thumb thumb thumb thumb thumb . . "
            ". . thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap . . . "
            ". . . pct pct pct pct pct pct . . . ";
    }

    .page-grid-left {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". . ehd ehd ehd ehd ehd ehd ehd ehd . ."
            ". . thumb thumb thumb thumb thumb thumb thumb thumb . . "
            ". . thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap thumbcap . . "
            ". . pct pct pct pct pct pct . . . . ";
    }

    .page-grid-full {
        padding: 1em;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ehd"
            "thumb "
            "thumbcap"
            "pct";
    }

    .page-grid-wide {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:
            ". ehd ehd ehd ehd ehd ."
            ". thumb  thumb thumb thumb thumb ."
            ". thumbcap thumbcap thumbcap thumbcap thumbcap ."
            ". pct pct pct pct pct .";
    }
    .page-grid-slim {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            ". ehd ."
            ". thumb . "
            ". thumbcap . "
            ". pct . ";
    }

    .thumbnail-no-caption-grid-container {
    }

	// Here you can lay out a caption relative to a thumbnail (if needed)
    .thumbnail-caption-grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "th" "thcapt";
    }
}
/* ENTRY CONTENT GRIDS */
// Mobile view
.entry-content-grid-container,
.display-posts-listing-grid-large,
.display-posts-listing-grid-squares,
.display-posts-listing-grid-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: $mobile_content_grid;
}

// Desktop view
@media screen and (min-width: 1026px) {
    .entry-content-grid-container {
        grid-template-columns: $desktop_content_grid_columns;
        grid-template-areas: $desktop_content_grid;
    }

    .display-posts-listing-grid-large,
    .display-posts-listing-grid-squares {
        grid-template-columns: repeat(1, 1fr);
    }

    .display-posts-listing-grid-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.entry-header-item {
    grid-area: ehd;
}

.entry-meta-item {
    grid-area: em;
    grid-template-columns: span 1;
}

.entry-content-item {
    grid-area: ect;
}

.entry-content-footer {
    grid-area: eft;
}

.entry-comment-item {
    // display: none;
    grid-area: ecmt;
}
/* FOOTER GRIDS */
.footer-grid {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: $mobile_footer_grid;
}

.footer-fw1,
.footer-fw2,
.footer-fw3,
.footer-fw4,
.footer-fw5 {
    width: 100%;
}

.footer-fw1 {
    grid-area: fw1;
}

.footer-fw2 {
    grid-area: fw2;
}

.footer-fw3 {
    grid-area: fw3;
}

.footer-fw4 {
    grid-area: fw4;
}

.footer-fw5 {
    grid-area: fw5;
}
// Desktop
@media screen and (min-width: 1026px) {
    .footer-grid {
        padding: 1em 0 0;
        border-top: 0px $bordercolor solid;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: $desktop_footer_grid;
    }
    .footer-fw1,
    .footer-fw2,
    .footer-fw3,
    .footer-fw4,
    .footer-fw5 {
        text-align: center;
        width: 100%;
        align-self: top;
        justify-self: stretch;
    }
}

// Layouts for the content/post notam03_content_page shortcode/function that
// displays posts by category

// SQUARE LAYOUT
.square-layout-item {
}

.square-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    // align-content: center;
}

@media screen and (min-width: 600px) {
    .square-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1026px) {
    .square-layout {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
}

// BROAD LAYOUT
.broad-layout-item {
}

.broad-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    // align-content: center;
}

@media screen and (min-width: 600px) {
    .broad-layout {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1026px) {
    .broad-layout {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

.side-by-side-layout-item {
}

// SIDE BY SIDE LAYOUT
.side-by-side-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    // align-content: center;
}

@media screen and (min-width: 600px) {
    .side-by-side-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1026px) {
    .side-by-side-layout {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

/*
    Grids for the Display Post plugin's different layout types

*/

/*
 *  PROSJEKT
 *
 */

.prosjekt-top-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "prdesc" "prdetails" "prthumb" "prbody" "prgallery";
}
.prosjekt-thumbnail-item {
    grid-area: prthumb;
}
.prosjekt-detail-item {
    grid-area: prdetails;
}
.prosjekt-description-item {
    grid-area: prdesc;
}
.prosjekt-body-item {
    grid-area: prbody;
}
.prosjekt-gallery-item {
    grid-area: prgallery;
}
.prosjekt-extra-item {
    grid-area: prextra;
}
// Desktop view
@media screen and (min-width: 1026px) {
    .prosjekt-top-grid {
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "prdesc prdesc prdesc prdesc" "prdetails prdetails prdetails prdetails" "prthumb prthumb prthumb prthumb" "prbody prbody prbody prbody" "prextra prextra prextra prextra" "prgallery prgallery prgallery prgallery";
    }
}

/*
 *  PROSJEKT ARCHIVE
 *
 */

.prosjekt-archive-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-template-areas: "prdesc prthumb" "prdetails prthumb" "prbody prthumb" "prgallery prthumb";
}

// Desktop view
@media screen and (min-width: 1026px) {
    .prosjekt-archive-grid {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "prdesc prdesc" "prthumb prdetails";
    }
}

/*
 *
 * POST ARCHIVE
 *
 *
 */
.post-archive-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

// Desktop view
@media screen and (min-width: 1026px) {
    .post-archive-grid {
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}
