/***************************************

  Basic link settings (mostly animations)

***************************************/

// Duration of animations
$link_anim_duration: 150ms;
$short_link_anim_duration: $link_anim_duration/2;

// Falling distance of the underline animation
$link_anim_distance: 20px;

// Underline line's size
$link_anim_underline_size: 2px;

// Easing function
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Link colours
$subtlelinkcolor: $grey;
$linkcolor: $notamblue;
$contrastlinkcolor: $notamblue;

// Animation delay
$delay: 100ms;

$navcolor: $black;

/***************************************/
a {
    color: $notamblue;
	text-decoration: none;
}

// Using this id on a link will disable the default link animation
#no-decoration {
    text-decoration: none;
    color: $linkcolor;
    &:after,
    &:before {
        height: 0;
    }
}
#no-decoration-dark {
    text-decoration: none;
    color: $textcolor;
    &:after,
    &:before {
        height: 0;
    }
}

#no-decoration-black {
    text-decoration: none;
    color: $black;
    &:after,
    &:before {
        height: 0;
    }
}

.menu-grid a,
.site-branding a,
footer a {
    color: $navcolor;
    text-decoration: none;
    opacity: 0.9;
    transition: color $link_anim_duration ease-out 0s,
        opacity $link_anim_duration ease-out 0s;

    &:focus,
    &:hover {
        color: $contrastlinkcolor;
        opacity: 1;
    }
}

div.menugrid-branding.site-branding {
    &:focus,
    &:hover {
        animation: heartbeat 1.5s ease-in-out infinite both;
    }
}

// Highlight the current page's link in the navigation
.current_page_item a {
    font-weight: bold;
    color: $notamblue;
    &:focus,
    &:hover {
    }
}

@media screen and (min-width: 1026px) {
    .current_page_item a {
        // animation: $focus_in_text;
    }
}

.entry-content a,
.animated-link {
    position: relative;
    color: $linkcolor;
    font-weight: normal;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left 0 bottom 0.1em;
    transition: color $link_anim_duration ease-out;
    // Animate link underline
    // Inspired by https://codepen.io/devilishalchemist/pen/ZYLZay
    &:after,
    &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 2px;
        left: 0;
        height: $link_anim_underline_size;
        background-color: $contrastlinkcolor;
    }

    &:before {
        opacity: 0;
        transform: translateY(-$link_anim_distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }

    &:after {
        opacity: 0;
        transform: translateY($link_anim_distance/2);
        transition: transform $link_anim_duration $easeOutBack,
            opacity $link_anim_duration;
    }

    &:focus,
    &:hover {
        &:after,
        &:before {
            opacity: 1;
            transform: translateY(0);
        }

        &:before {
            transition: transform $link_anim_duration $easeOutBack,
                opacity $link_anim_duration;
        }

        &:after {
            transition: transform 0s $link_anim_duration $easeOutBack,
                opacity 0s $link_anim_duration;
        }
    }
}

a.animated-link {
    opacity: 0.9;
    transition: opacity $short_link_anim_duration ease-in-out;
    &:focus,
    &:hover {
        opacity: 1;
    }
}
