/***************************************

  Navigation

***************************************/

// Desktop margin right
$marginR: 1em;

// Margin all around navigation elems (site-branding included)
$desktop_margin: 1em 1em;

$mobile_margin: 1em;

$pad_menu: 1em 0;
$pad_sub_menu: 0em 0;

$border_under_menu: 0px $bordercolor solid;
$border_under_submenu: 0px $bordercolor solid;

/***************************************/

/* Responsive menu plugin styling */

.responsive-menu-subarrow, .responsive-menu-subarrow-active{
	display: none
}

#responsive-menu{
	font-weight: normal;
	// text-transform: uppercase
}

.current_page_item a{
	font-weight: 700;
}

.responsive-menu-submenu a{
	font-weight: normal;
	text-transform: none;
}

.site-branding {
    position: fixed;
	left: 5%;
	top: 15px;
    // float: left;
}



/*
 *
 * Search
 *
 */

#main-navigation {
    // margin: $desktop_margin;
    // padding: $pad_menu;
}

.mobilemenu {
    display: none;
}

/* MOBILE MENU */
@media screen and (max-width: 1026px) {
    .mobilemenu {
        display: block;
    }

    #desktop-main-menu {
        display: none;
    }
}

.main-navigation.toggled ul,
.menu-toggle {
    display: block;
    margin: 0;
}

.main-navigation,
.site-branding {
    // position: relative;
    // float: none;
}

#header-search {
    margin: $desktop_margin;
}

// Desktop
@media screen and (min-width: 1026px) {
    .custom-logo {
        max-width: 100%;
    }

    .main-navigation,
    .site-branding {
    }

    #header-search {
    }
}
/* Sub navigation */
#sub-navigation {
    position: relative;
    width: 100%;
    display: block;
}

// @media screen and (min-width: 1026px) {
//     #navigation-border {
//         border-bottom: $border_under_menu;
//     }

//     #desktop-main-menu,
//     .site-branding {
//     }

//     #main-navigation {
//     }

//     .menu-grid {
//         border-bottom: 1px solid $bordercolor;
//     }

//     .menugrid-sub {
//         width: 100%;
//         // background-color: $notamgrey;
//         border-bottom: 1px solid $bordercolor;
//         line-height: 1;
//         ul {
//             li {
//                 a {
//                     color: $textcolor;
//                     opacity: 0.75;
//                     // color: $grey;
//                 }
//             }
//         }
//     }

//     #sub-navigation {
//         display: block;
//         padding: $pad_sub_menu;
//         border-bottom: 0;
//         margin: 0;
//     }

//     #sub-navigation ul {
//         display: flex;
//         list-style: none;
//         width: 100%;
//         justify-content: space-evenly;
//     }

//     #sub-navigation ul li {
//         display: block;
//         vertical-align: top;
//     }
// }

.small-menu {
    display: block;
    width: 200%;
}

@media screen and (min-width: 1026px) {
    .main-navigation {
    }
}

.main-navigation ul {
    display: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.main-navigation ul ul {
    z-index: 99999;
    position: absolute;
    top: 100%;
    left: -999em;
    float: left;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.main-navigation ul ul ul {
    top: 0;
    left: -999em;
}

.main-navigation ul ul li.focus > ul,
.main-navigation ul ul li:hover > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li.focus > ul,
.main-navigation ul li:hover > ul {
    left: auto;
}

.site-branding a,
.main-navigation li {
    display: block;
    margin: $mobile_margin;
}

@media screen and (min-width: 1026px) {
    .site-branding a,
    .main-navigation li {
        display: block;
        float: left;
    }
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* lang selector */

.lang_selector {
    z-index: 100;
    position: absolute;
    top: 1.05em;
    right: 3em;
    text-transform: uppercase;
}

.lang_selector li {
    display: inline;
    margin-right: $marginR;
}

.lang_selector:hover .inactive {
    display: inline;
}

.site-main .comment-navigation,
.site-main .post-navigation,
.site-main .posts-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
    width: 50%;
    float: left;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
    width: 50%;
    float: right;
    text-align: right;
}
