/*
 *
 * TRIBE EVENTS
 *
 * Custom styling for The Events Calendar plugin. 
 * See also the folder /tribe-events which contains the templates for the different views.
 *
 */

.tribe-events-event-image {
    margin: 0;
}

.single-tribe_events .tribe-events-event-image {
    margin-bottom: 0;
}

.events-bar-title {
}

.tribe-events-sub-nav {
    padding: 0 0;
    margin: 0em 0;
}
.tribe-events-nav-previous {
    float: left;
}

.tribe-events-nav-next {
    float: right;
}

.events-calendar-seperator {
    margin: 0.5em 0;
    border-bottom: 1px solid $bordercolor;
}

.tribe-events-loop {
    margin: 2em 0 0 0;
}

.tribe-events-read-more {
    display: inline-block;
}

.events-calendar-list-export-ical-button {
    display: none !important;
}

.featured-image-list-single {
    display: none;
    max-width: 400px;
}
.tribe-events-event-meta:first-child {
    border: 0;
}

.tribe-events-meta-group-details {
    // border-top: 1px solid $bordercolor;
    // font-size: $footersize;
    color: $textcolor;
    // border-bottom: 1px solid $bordercolor;
    padding: 0em 0;
}

.events-detail-title {
    font-weight: bold;
    padding: 0 0 1em 0;
}

.single-tribe_events .tribe-events-event-meta {
    margin: 0 0;
}

.events-top-meta {
    display: none !important;
}

.tribe-events-cal-links {
    display: none !important;
}

.tribe-events-list-event-description {
    display: none !important;
}

.calendar-list-view-single-item {
    padding: 0.5em 0;
}

.tribe-events-list-event-title a {
    font-weight: bold;
}

.tribe-events-tooltip .tribe-events-event-body {
    font-size: 1.5em;
    color: $textcolor;
    padding: 1em;
}

.tribe-events-tooltip-event-title {
    padding: 0em;
}

.tribe-events-tooltip-event-meta {
    font-size: 1em;
    padding: 0;
}

.tribe-events-tooltip-event-description {
    font-size: 0.75em;
}

.tribe-events-tooltip-event-thumb {
}

.events-calendar-month-day {
}

// A square in the month grid
.events-calendar-day-in-month-grid {
    line-height: 1;
}

.tribe-events-month-event-title {
    line-height: 1;
}

.tribe-events-calendar td a {
    font-size: 1em;
    word-wrap: break-word;
}
