/***************************************

  Basic typography settings

***************************************/
// @import "font";
// $font: Univers;
@import url("https://fonts.googleapis.com/css?family=Roboto");

$roboto: "Roboto", sans-serif;
$font: $roboto;
$paragraphfont: $roboto;

// Golden ratio
$ratio: 1.618;

// All fonts are scaled by this basic unit
$basesize: 18px;

// Basic text size
$textsize: 1em;
$lineheight: 1.375em;
$spacing: 0.018em;

// Small text size
$smalltextsize: $textsize / $ratio;

// All headers are scaled by this (this is the h1 size)
$header: 2 * $textsize * $ratio;
$titlealign: left;

// Post lead (first paragraph) size
$leadsize: $textsize;

// Menu item sizes
$navsize: $textsize;
$subnavsize: $textsize * 0.75;

$brandsize: $navsize;

// Footer
$footersize: $textsize * 0.75;

/***************************************/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
optgroup,
select,
textarea {
    padding: 1em 0.8em 0.5em;
    // color: $textcolor;
    font-family: $font;
    // font-size          : $basesize;
    line-height: $lineheight;
    letter-spacing: $spacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    line-height: 1.05em;
}

h2 {
    font-size: 2.25em;
    line-height: 1.25em;
    // margin-bottom: 1em;
}

h3 {
    font-size: 1.75em;
    line-height: 1.25em;
}

h4 {
    font-size: 1.125em;
    line-height: 1.222222em;
}
p {
    font-family: $paragraphfont;
    margin-bottom: 1.5em;
}

cite,
dfn,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    overflow: auto;
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    white-space: pre-wrap;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: $textsize;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

ins,
mark {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/* Content */

// "LEAD"
.entry-content p:first-of-type {
    font-weight: normal;
    // text-align: justify;_
    font-size: $leadsize;
}

.entry-meta,
.entry-title {
    color: $titlecolor;
    text-align: $titlealign;
}

.archive .prosjekt-meta {
    padding: 0.5em 0.5em;
}

.overview-title {
    padding: 0;
    font-size: $header / 2;
}

.entry-meta {
    font-size: $textsize;
	margin-bottom: 0.0em;
}

/* Thumbnail caption */

.thumbnail-caption {
    padding: 1em 0;
    color: $subtletextcolor;
    font-size: $smalltextsize;
    line-height: 1.5;
}

@media screen and (min-width: 1026px) {
    .thumbnail-caption {
        padding: 1em 0em;
        // font-size : 0.66em;
    }
}

/* Site navigation and site-branding */

#main-navigation {
    letter-spacing: $spacing;
    font-size: $navsize;
    // text-transform: uppercase;
}

.site-branding a {
    font-size: $brandsize;
}

.main-navigation a:hover,
.site-branding a:hover {
    color: $hovercolor;
}

// Mobile view text align
#site-navigation li a {
    text-align: left;
}

#sub-navigation {
}

@media screen and (min-width: 1026px) {
    #site-navigation,
    .site-branding a {
        text-align: inherit;
    }

    #sub-navigation {
        color: $subtletextcolor;
        text-transform: uppercase;
        font-size: $subnavsize;
    }
}

.lang_selector a {
    font-size: $subnavsize;
}

/* footer */

// Mobile
.smalltext {
    line-height: $lineheight;
}
.site-footer,
.smalltext,
.meta-text-size {
    color: $subtletextcolor;
    font-size: $footersize;
    // text-transform: uppercase;
}

// Desktop

@media screen and (min-width: 1026px) {
    .site-footer {
        font-size: $footersize;
        line-height: $footersize * 2;
    }
}

// Square thumbnail header
.overview-header,
.dps-title {
    // font-size: $textsize;
    // font-weight: bold;
    color: $textcolor;
    // color: $notamblue;
    // text-align: center;
}
@media screen and (min-width: 1026px) {
    .overview-header-square-layout {
        text-align: center;
    }
}

.overview-header-broad-layout {
    text-align: left;
}

// Display posts plugin styling
.dps-title#no-decoration {
    color: $black;
}

.dps-title {
    margin: 0 0;
}

.dps-post-date {
    margin: 0 0;
    color: $textcolor;
}

.dps-content {
    color: $textcolor;
    margin: 0.25em 0 2em 0;
}

.dps-list-layout-title a {
    font-weight: bold;
}

.dps-list-item {
    margin: 0.25em 0;
}
.dps-entry-content-square {
    width: 100%;
}

.dps-squares-title {
    width: 100%;
    // background-color: pink;
    word-break: break-word;
    text-align: center;
    font-weight: bold;
    color: $textcolor;
}
