/**
 * Theme Name: notam03 Theme URI: http://notam02.no 
 * Author: Mads Kjeldgaard /
 * Notam Author URI: http://notam02.no 
 * Description: A theme for the website of
 * Notam Version: 1.0.2 License: GNU General Public License v2 or later License
 * URI: LICENSE Text Domain: notam03 
 * Tags: custom-background, custom-logo,
 * custom-menu, featured-images, threaded-comments, translation-ready
 *
 * This theme, like WordPress, is licensed under the GPL. Use it to make
 * something cool, have fun, and share what you've learned with others.
 *
 * notam03 is based on Underscores https://underscores.me/, (C) 2012-2017
 * Automattic, Inc. Underscores is distributed under the terms of the GNU GPL v2
 * or later.
 *
 * Normalizing styles have been helped along thanks to the fine work of Nicolas
 * Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
 */

/**
  # Imports
 
 */

@import "colours", "hamburgers/hamburgers", "animations", "links", "typography",
    "nav", "grids", "tribe_events";

$pad_around_content: 2em 0;

$footerpadding: 0em 0;

// Hack to make max objects equal width
table.wp-block-table tbody tr td img { 
	height: 25px; width: auto !important 
}

// For embedding menus without bullet points
.no-bullet-menu ul {
	list-style: none;
	display: inline;
	padding: 0.5em;
}

/**
  # Normalize
 
 */
article {
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    /* 1 */
    /* 2 */
}

/**
 * Sections
 
 */

/* Remove the margin in all browsers. */

body {
    margin: 0;
}

@media screen and (min-width: 1026px) {
    body {
        padding: 0;
    }
}

/*
    Class for hiding things
*/

.hidden {
    display: none;
}

/**
 * Grouping content
 */

/**
 * 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and
 * IE.
 */

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    /* 1 */
    /* 1 */
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers. 2.
 * Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

/**
 * Text-level semantics
 */

/* Remove the gray background on active links in IE 10. */

/**
 * 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration
 * in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    text-decoration: none;
    text-decoration: none;
    /* 1 */
    /* 2 */
    /* 2 */
}

/* Add the correct font weight in Chrome, Edge, and Safari. */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers. 2.
 * Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
    /* 1 */
    /* 2 */
}

/* Add the correct font size in all browsers. */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all
 * browsers.
 */

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/**
 * Embedded content
 
 */
/* Remove the border on images inside links in IE 10. */

img {
    // width: 100%;
}

.avatar {
    display: none;
    // max-width: 40px;
}

$thumbnailwidth: 300px;
$thumbnailheight: 300px;

// Thumbnails in overview
.entry-content img.square-thumb {
    width: 100%;
    padding: 0em 0 0 0;
    max-height: $thumbnailheight;
    max-width: $thumbnailwidth;
}

.overview-thumbnail-container {
}

.overview-thumbnail-title {
    padding: 0.5em 0;
}

.entry-content img {
    padding: 0.75em 0;
}

.post-thumbnail {
    padding: 1em 0 0 0;
}

img.footer-logo {
    width: 3em;
    height: 2em;
}

img.custom-logo {
    max-height: 3em;
    max-width: 3em;
}

/*
 *
 *
 * SEARCH
 *
 */
.search-result-page {
    // margin: 1em;
}
/**
 * Forms
 
 */

// Remove strange "Comment" label
.comment-form-comment > label {
    display: none;
}

button,
input,
optgroup,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 1em;
    color: inherit;
    border: none;
    background: 0 0;
    outline: 0;
    font: inherit;
    border: 1px solid $bordercolor;
}

/* Show the overflow in IE. 1. Show the overflow in Edge. */

button,
input {
    /* 1 */
    overflow: visible;
    line-height: normal;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove
 * the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/* Restore the focus styles unset by the previous rule. */

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/* Correct the padding in Firefox. */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance
 * from `fieldset` elements in IE. 3. Remove the padding so developers are not
 * caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
    /* 1 */
    /* 2 */
    /* 1 */
    /* 1 */
    /* 3 */
    /* 1 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */

progress {
    vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE 10+. */

textarea {
    overflow: auto;
}

/* 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    /* 1 */
    /* 2 */
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline
 * style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    /* 1 */
    /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari. 2.
 * Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/**
 * Interactive
 
 */

/* Add the correct display in Edge, IE 10+, and Firefox. */

details {
    display: block;
}

/* Add the correct display in all browsers. */

summary {
    display: list-item;
}

/**
 * Misc
 
 */

/* Add the correct display in IE 10+. */

template {
    display: none;
}

/* Add the correct display in IE 10. */

[hidden] {
    display: none;
}

/**
  # Elements
 
 */

*,
*:after,
*:before {
    /**
  * Inherit box-sizing to make it easier to change the property for components
  * that leverage other behavior; see
  * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
    box-sizing: inherit;
}

body {
    background: $bgcolor;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    height: 1px;
    margin-bottom: 1.5em;
    border: 0;
    background-color: $subtletextcolor;
}

ol,
ul {
    margin: 0 0 0.25em 0.25em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ol,
li > ul {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    /* Make sure images are scaled correctly. */
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    width: 100%;
    margin: 0 0 1.5em;
}

footer {
    padding: $footerpadding;
}

/* Forms
	 ========================================================================== */
ol.comment-list {
    margin: 0 0 1.5em 0;
    padding: 0;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/**
  #
 * Accessibility --------------------------------------------------------------
 */

/* Text meant only for screen readers. */

.screen-reader-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    word-wrap: normal !important;
    /**
  * Many screen reader and browser combinations announce broken words as they
  * would appear visually.
  */
}

.screen-reader-text:focus {
    z-index: 100000;
    display: block;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    clip: auto !important;
    clip-path: none;
    padding: 15px 23px 14px;
    color: #21759b;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 0.875rem;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}

/**
  # Alignments
 
 */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

/**
  # Clearings
 
 */

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both;
}

/**
  # Widgets
 
 */

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

.footer-widget {
    display: inline-block;
}

/**
  # Content
 
 */

/**
  ## Posts and
 * pages --------------------------------------------------------------
 */

.sticky {
    display: block;
}

.hentry {
    margin: 0;
    padding: 0;
}

.updated:not(.published) {
    display: none;
}

.entry-content,
.entry-summary,
.page-content {
}

// Add padding around the content on desktops
@media screen and (min-width: 1026px) {
    .content-area {
        padding: $pad_around_content;
    }
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/**
  ## Comments
 
 */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/**
  # Infinite
 * scroll --------------------------------------------------------------
 */

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll.neverending .site-footer,
.infinite-scroll .posts-navigation {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/**
 * When Infinite Scroll has reached its end we need to re-display elements that
 * were hidden (via .neverending) before.
 */

.infinity-end.neverending .site-footer {
    display: block;
}

/**
  # Media
 
 */

.comment-content .wp-smiley,
.entry-content .wp-smiley,
.page-content .wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}

/**
  ## Captions
 
 */

.wp-caption {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/**
  ## Galleries
 
 */

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.archival-post {
    padding: 0.5em 0;
}
